.event {
  display: table;
  width: 100%;
  padding: .8em;
  border-bottom: 1px solid;
}

.event__day {
  display: table-cell;
  width: 2em;
  font-size: 2.6em;
  font-weight: bold;
  vertical-align: top;
}

.event__weekday-title {
  display: table-cell;
}

.event__weekday,
.event__title {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.event__weekday {
  margin-top: .5em;
}

.event__description a {
  color: inherit;
  text-decoration: underline;
}

.event__description,
.event__time-location {
  font-size: .9em;
}

.event__map-url {
  color: inherit;

  &::after {
    font-weight: 600;
    content: ' >';
  }
}
