.form__name {
  padding-top: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.form__input {
  &[type='text'], &[type='email'] {
    border: 0;
    border-bottom: 1px solid $brand-color;
    border-radius: 0;

    &:focus {
      border-color: $alt-color;
      color: $alt-color;
    }
  }

  &[type='radio'] {
    display: none;
  }

  &[type='text'], &[type='email'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__values--radio {
  display: table;
}

.form__values--radio .form__value {
  position: relative;
  padding-bottom: .5em;
  padding-left: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: $alt-color;

}

.form__input--radio {
  &:checked + .form__value {
    color: lighten($alt-color, 10%);
  }

  &:checked + .form__value::before {
    display: inline-block;
    position: absolute;
    left: 0;
    content: '·';
  }
}

.form__field--submit {
  border: 0;
  outline: 0;
  background: none;
  font-size: 2.2em;
  -webkit-appearance: none;
  cursor: pointer;
}

.form__input--submit {
  @extend %wide-title;
}
