.subpages {
  margin: 2em 0 3em;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.subpages__link {
  @extend %silent;
  display: inline-block;
  margin: 1em 3em 0;
}

.subpages__link:hover,
.subpages__link--active {
  border-bottom: 2px solid;
}

.subpages__link--active {
  color: $alt-color;
}
