%wide-title {
  margin: 0;
  transform-origin: 50% 50%;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  fill: none;
  stroke: $brand-color;
  stroke-width: 1.2px; // ?!
  alignment-baseline: middle;
  text-anchor: middle;
}
