@font-face {
  font-family: 'SportingGrotesque';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/sporting-grotesque-normal.woff2') format('woff2'), url('../fonts/sporting-grotesque-normal.woff') format('woff');
}

@font-face {
  font-family: 'SportingGrotesque';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/sporting-grotesque-bold.woff2') format('woff2'), url('../fonts/sporting-grotesque-bold.woff') format('woff');
}
