{# in case it's a radio, you can use `checked="XYZ"` to check the element with value "XYZ" #}
{%- macro field(name, label, value='', type='text') -%}
  <div class="form-group grid mrgv">
    <label class="field-label grid__item sm-w-1/5 form__field--{{ type }}" for="{{ name }}">
      <span class="form__name">{{ label }}</span>
    </label>
    <div class="grid__item sm-w-4/5">
      {%- if type == 'radio' %}
      {{ radio(name, values=value, checked=kwargs['checked']) }}
      {%- elif type == 'submit' %}
      {{ submit(value) }}
      {%- else %}
      {{ input(name, value, type) }}
      {%- endif %}
    </div>
  </div>
{%- endmacro -%}

{%- macro input(name, value='', type='text', id=None, required=True) -%}
  <input class="form__input form__input--{{ type }}" id="{{ id or name }}" type="{{ type }}"
    value="{{ value | escape }}" name="{{ name }}" {% if required %}required{% endif %} {% for key in kwargs -%}
    {{ key }}{% if kwargs[key] %}="{{ kwargs[key] }}"{% endif %}
  {%- endfor -%}
  >
{%- endmacro -%}

{%- macro radio(name, values=[], checked=None) -%}
  <div class="form__values form__values--radio">
  {%- for value in values %}
    {%- set id = name ~ loop.index %}
    {%- if checked == value %}
    {{ input(name, value, type='radio', id=id, checked=None) }}
    {%- else %}
    {{ input(name, value, type='radio', id=id) }}
    {%- endif %}
    <label class="form__value" for="{{ id }}">{{ value | escape }}</label>
  {%- endfor %}
  </div>
{%- endmacro -%}

{%- macro submit(value, onclick="") -%}
  <button class="form__field form__field--submit stroke" onclick="{{ onclick }}">
    {{ value }}
  </button>
{%- endmacro -%}
