.banner {
  max-height: 360px;
  margin-bottom: $spacing-unit-large;

  background: $brand-color;
}

@include media('md') {
  .banner {
    margin-bottom: 70px;
  }
}

.banner__img {
  max-height: 360px;
  padding: 0;
}
