.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex--center {
  justify-content: center;
  text-align: center;
}

.flex--left {
  justify-content: flex-start;
}

.flex__item {
  display: inline-block;
}
