.footer {
  text-align: center;
}

.footer__copyright {
  font-size: .7em;
}

.footer__fb {
  display: block;
  height: 16px;
  padding: 22px 0;
  background: $brand-color url('../images/facebook.svg') center no-repeat;
  background-size: auto 16px;
  box-sizing: content-box;
}
