.header {
  padding-top: 50px;
  border-bottom: 1px solid $brand-color;
  text-align: center;
}

.header--home {
  border: 0;
}

.header__logo {
  @extend %silent;
  display: block;
  width: 150px;
  height: 90px;
  margin: 0 auto;
  background: url('../images/logo-big.svg') no-repeat;
  background-size: cover;
  font-size: 0;
}

.header__nav {
  @extend %list-inline;
  margin-top: $spacing-unit-large;
  margin-bottom: $spacing-unit-small;
  line-height: 2.2em;
}

.header__link {
  @extend %silent;
  font-weight: bold;
  text-transform: uppercase;
}

.header__link:hover,
.header__link--active {
  border-bottom: 2px solid;
}

.header__link--active {
  color: $alt-color;
}
