.header {
  margin-top: 50px;
  text-align: center;
}

.header--home {
  border: 0;
}

.header__logo {
  @extend %silent;
  display: block;
  width: 150px;
  height: 90px;
  margin: 0 auto;
  background: url('../images/logo-big.svg') no-repeat;
  background-size: cover;
  font-size: 0;
}

.header__nav {
  @extend %list-inline;
  overflow: hidden;
  border-bottom: 1px solid $brand-color;
  line-height: 4em;
}

.header__link {
  @extend %silent;
  font-weight: bold;
  font-size: 130%;
}
