.page--partenaires {
  @include media('lg') {
    width: $screen-md-max;
    font-size: .8em;
  }

  ul {
    padding: 0 20px;
    text-align: center;
  }

  li {
    display: inline-block;
    width: 160px;
    margin: 10px;
    font-size: .7em;
    font-weight: normal;
    text-align: center;
  }

  img {
    margin: 10px auto;

    &[src$='akari-taste.png'] {
      width: 60px;
    }

    &[src$='beaut-vegan.png'] {
      width: 160px;
    }

    &[src$='age-d-homme.png'] {
      width: 100px;
    }

    &[src$='engel-tofu.png'] {
      width: 140px;
    }

    &[src$='evas-apple.png'] {
      width: 120px;
    }

    &[src$='faircustomer.png'] {
      width: 150px;
    }

    &[src$='gingi.png'] {
      width: 60px;
    }

    &[src$='biotique.png'] {
      width: 120px;
    }

    &[src$='lush.png'] {
      width: 110px;
    }

    &[src$='pea.png'] {
      width: 80px;
    }

    &[src$='sanctum.png'] {
      width: 70px;
    }

    &[src$='urban-vegan-geneve.png'] {
      width: 100px;
    }

    &[src$='vegan-for-every.png'] {
      width: 80px;
    }

    &[src$='veganopolis.png'] {
      width: 70px;
    }

    &[src$='veganovorus.png'] {
      width: 80px;
    }

    &[src$='vegusto.png'] {
      width: 90px;
    }

    &[src$='yardo-bio.png'] {
      width: 100px;
    }
  }

}
