.welcome {
  text-align: center;
}

.welcome__banner {
  width: 100%;
  height: 360px;
  margin-bottom: 70px;
  background: $brand-color url('../images/header.svg') center no-repeat;
  background-size: cover;
}

.welcome__intro {
  @extend %wrapper;
  font-weight: bold;
}

.welcome__cantons {
  @extend %wrapper;
  padding-top: 1em;
  padding-bottom: 2.6em;
}

.welcome__cantons-title {
  @extend %wide-title;
  @include media('sm') {
    font-size: 1em;
  }
}

.welcome__canton {
  display: table;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 2px solid transparent;
  font-size: .7em;
  font-weight: bold;
  text-transform: uppercase;
}

.welcome__canton:hover {
  border-bottom: 2px solid;
}
