html {
  height: 100%;
}

body {
  @include media('sm') {
    font-size: 17px;
  }
  position: relative;
  min-height: 100%;
  padding-bottom: 7em;
  color: $brand-color;
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: .5em 1em;
}
