h2, .stroke {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;
  font-weight: bold;
  font-weight: 36px;
  text-transform: uppercase;
}

.silent, %silent {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

a {
  text-decoration: underline;
  text-decoration-style: dashed;
}

a:hover, a:focus {
  text-decoration: underline;
  text-decoration-style: solid;
}
