h2, h3, h4, h5 {
  font-weight: bold;
}

h2, .stroke {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;
  font-weight: 36px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.4em;
}

.silent, %silent {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

a, a:hover, a:focus {
  text-decoration: underline;
}

a.fat-underline {
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid;
  }
}

a.active {
  color: $alt-color;
  text-decoration: underline;
}
