{% extends "page.html" %}
{%- block title %}{{ this.title }}{% endblock %}
{%- block body %}
  <main class="canton canton--{{ this._slug }}">
    {% include "_subpages.html" %}
    {% if this.map_title and this.map_url %}
      <p class="text-center">
        <a target="_blank" class="external" href="{{ this.map_url }}">{{ this.map_title }}</a>
      </p>
    {% endif %}
    <p>
      Le programme du Mois végane 2018 est en cours d'élaboration. <a href="https://www.facebook.com/moisvegane/">Suivez-nous sur Facebook</a> pour ne rien manquer de l'édition 2018!
    </p>
  </main>
{%- endblock %}
