{% extends "layout.html" %}
{%- block title %}{{ this.title }}{% endblock %}
{%- block body %}
  <main class="city city--{{ this._slug }}">
    <section class="city__cities">
      {%- for child in site.get('/lieux').children.order_by('sort_key') %}
      <a class="city__link {% if this.is_child_of(child) %}city__link--active{% endif %}" href="{{ child._path | url }}">{{ child.title }}</a>
      {%- endfor %}
    </section>
    <section class="city__events">
      {%- for event in this.events.blocks %}
      <article class="event">
        <time class="event__day" datetime="{{ event.date | dateformat('yyyy-MM-dd') }}">
          {{- event.date | dateformat('d') -}}
        </time>
        <div class="event__weekday-title">
          <div class="event__weekday">
            {{- event.date | dateformat('EEEE', locale='fr') -}}
          </div>
          <h4 class="event__title">{{ event.title }}</h4>
          {%- if event.description %}
          <div class="event__description">{{ event.description }}</div>
          {%- endif %}
        </div>
      </article>
      {%- endfor %}
    </section>
  </main>
{%- endblock %}
