{%- set root = site.get('/') -%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="apple-touch-icon" sizes="192x192" href="{{ '/static/images/favicon_big.png' | asseturl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/static/images/favicon.png' | asseturl }}">
  <link rel="stylesheet" href="{{ '/static/stylesheets/main.css' | asseturl }}">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@peaasso" />
  <meta property="og:url" content="{{ this.url_to(this._path, external=true) }}" />
  <meta property="og:title" content="{{ this.og_title|default('Participez au Mois végane romand 2017!') }}" />
  <meta property="og:description" content="{{ this.og_description|default('Le Mois végane est l\'occasion de découvrir les différentes facettes du véganisme pendant tout le mois de novembre.') }}" />
  <meta property="og:image" content="{{ this.url_to('/static/images/cover/' + this.og_image|default('default') + '.png', external=true) }}" />
  <meta property="og:type" content="website" />
  <meta name="description" content="Découvrez durant le mois de novembre des événements dans toute la Suisse romande à l'occasion du Mois végane 2017." />
  <meta name="keywords" content="mois végane, véganisme, végane, antispécisme, spécisme, lausanne, genève, valais, fribourg, neuchâtel" />

  <title>{% block title %}{% endblock %} — Le Mois végane romand</title>
</head>
<body>
  <header class="header header--{{ this._slug | default('home', true) }}">
    <h1><a class="header__logo" href="{{ '/' | url }}">Mois végane</a></h1>
    <div class="sticky">
      <nav class="sticky__item header__nav">
        <div class="wrapper">
          <div class="sticky__only vertical-align inline-block">
            <a href="{{ '/' | url }}">
              <img src="{{ '/static/images/logo-small.svg' | asseturl }}" height="100%">
            </a>
          </div>
          <ul class="list-inline inline-block">
            {%- for child in root.children.order_by('sort_key') %}
            <li>
              {%- set page = child.children.order_by('sort_key').first() if child.children else child %}
              <a class="header__link {% if this.is_child_of(child) %}header__link--active{% endif %}" href="{{ page._path | url }}">{{ child.title }}</a>
            </li>
            {%- endfor %}
          </ul>
          </div>
      </nav>
    </div>
  </header>

  {%- block pre_body %}{% endblock %}
  <div class="wrapper">
    {%- block body %}{% endblock %}
  </div>

  <footer class="footer mrgt">
    <div class="brand-band text-center pdgv">
      <a href="https://www.facebook.com/moisvegane/" target="_blank">
        <img class="inline-block" src="{{ 'images/facebook.svg' | asseturl }}" width="50" height="50">
      </a>
      <p class="footer__copyright">Le Mois végane romand est une initiative de l'association <a href="https://www.asso-pea.ch"
        target="_blank">PEA - Pour l'Égalité Animale</a></p>
    </div>
  </footer>
  <script type="text/javascript" src="{{ 'static/javascripts/bundle.js' | asseturl }}"></script>
</body>
</html>
