{%- set root = site.get('/') -%}
{%- from 'macros/icon.html' import icon -%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51773621-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-51773621-6');
  </script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="apple-touch-icon" sizes="192x192" href="{{ '/static/images/favicon_big.png' | asseturl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/static/images/favicon.png' | asseturl }}">
  <link rel="stylesheet" href="{{ '/static/stylesheets/main.css' | asseturl }}">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@peaasso" />
  <meta property="og:url" content="{{ this.url_to(this._path, external=true) }}" />
  <meta property="og:title" content="{{ this.og_title|default('Participez au Mois végane romand 2018!') }}" />
  <meta property="og:description" content="{{ this.og_description|default('Le Mois végane est l\'occasion de découvrir les différentes facettes du véganisme pendant tout le mois de novembre.') }}" />
  <meta property="og:image" content="{{ this.url_to('/static/images/cover/' + this.og_image|default('default') + '.png', external=true) }}?y=2018" />
  <meta property="og:type" content="website" />
  <meta name="description" content="Découvrez durant le mois de novembre des événements dans toute la Suisse romande à l'occasion du Mois végane 2018." />
  <meta name="keywords" content="mois végane, véganisme, végane, antispécisme, spécisme, lausanne, genève, valais, fribourg, neuchâtel" />

  <title>{% block title %}{% endblock %} — Le Mois végane romand</title>
</head>
<body>
  <header class="header header--{{ this._slug | default('home', true) }}">
    <h1><a class="header__logo" href="{{ '/' | url }}">Mois végane</a></h1>
    <div class="sticky">
      <nav class="sticky__item header__nav">
        <div class="wrapper">
          <div class="sticky__only vertical-align inline-block">
            <a href="{{ '/' | url }}">
              <img src="{{ '/static/images/logo-small.svg' | asseturl }}" height="100%">
            </a>
          </div>
          <div class="inline-block">
            <ul class="list-inline list-inline--nav">
              {%- for child in root.children.filter(F.show_in_menu == true).order_by('sort_key') %}
              <li>
                {%- set page = child.children.order_by('sort_key').first() if child.children else child %}
                <a class="header__link {% if this.is_child_of(child) %}active{% endif %}" href="{{ page._path | url }}">{{ child.title }}</a>
              </li>
              {%- endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  {%- block pre_body %}{% endblock %}
  <div class="wrapper {% block pre_body_wrapper_classes %}mrgt+{%endblock %}">
    {%- block body %}{% endblock %}
  </div>

  <footer class="footer mrgt">
    <div class="brand-band text-center pdgv">
      <div class="wrapper">
        <a href="https://www.facebook.com/moisvegane/" target="_blank">
          {{ icon('facebook', 150) }}
        </a>
        <p class="footer__copyright">Le Mois végane romand est une initiative de l'association <a href="https://www.asso-pea.ch"
          target="_blank">PEA - Pour l'Égalité Animale</a></p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="{{ 'static/main.js' | asseturl }}"></script>
</body>
</html>
