{%- from 'macros/forms.html' import field, input, radio, submit -%}
{% extends "layout.html" %}
{%- block title %}{{ this.title }}{% endblock %}
{%- block body %}
  <main class="subscription">
    <form class="form" id="subscriptionForm" action="{{ this.action_url }}">
      {{ field('firstname', 'Prénom') }}
      {{ field('lastname', 'Nom') }}
      {{ field('email', 'E-mail') }}
      {{ field('address', 'Adresse') }}
      {{ field('postalcode', 'NPA') }}
      {%- set city_names = site.get('/lieux').children.order_by('sort_key') | map(attribute='title') | list() %}
      {%- set default_city = city_names | first() %}
      {{ field('city', 'Ville', value=city_names, type='radio', checked=default_city) }}
      {{ field('coach', 'Coach', value=['Oui', 'Non'], type='radio', checked='Oui') }}
    </form>
    {{ submit(value=this.send, onclick="subscriptionForm.submit()") }}
  </main>
{%- endblock %}
