{% extends "layout.html" %}
{%- block title %}{{ this.title }}{% endblock %}
{%- block body %}
  <main class="welcome">
    <div class="welcome__banner"></div>
    <section class="welcome__intro">
      {{ this.intro }}
    </section>
    <section class="welcome__cantons">
      <h2><svg class="welcome__cantons-title" width="100%" height="2em"><text x="50%" y="50%">{{ this.canton_selector }}</text></svg></h2>
      {%- for child in site.get('/lieux').children.order_by('sort_key') %}
      <a class="welcome__canton" href="{{ child._path | url }}">{{ child.title }}</a>
      {%- endfor %}
    </section>
</main>
{%- endblock %}
