{% extends "layout.html" %}
{%- block title %}{{ this.title }}{% endblock %}
{%- block body %}
  <main class="welcome">
    <div class="welcome__banner">
      <img class="welcome__banner-img" src="{{ '/static/images/header.svg' | asseturl }}">
    </div>
    <section class="welcome__intro">
      {{ this.intro }}
      <h2>{{ this.why_vegan_title }}</h2>
      {{ this.why_vegan_text }}
    </section>
    <section class="welcome__cantons">
      <h2 class="mrgt-">{{ this.canton_selector }}</h2>
      {%- for child in site.get('/lieux').children.order_by('sort_key') %}
      <a class="welcome__canton" href="{{ child._path | url }}">{{ child.title }}</a>
      {%- endfor %}
    </section>
</main>
{%- endblock %}
